
/* YouTube Videos*/ 
body{
  letter-spacing: 1px;
  line-height: 26px;
  background-size: cover;
  background-repeat: no-repeat;
}
input{
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 5px;
}
iframe{
  width: 500px;
  height: 300px;
  margin: 4px 120px 10px 120px;
  box-shadow: 3px 6px 40px rgb(125, 127, 128);
}
.more-music-section-title{
  font-size: 66px;
  text-transform: uppercase;
  margin: 40px auto 40px auto;
  -webkit-text-stroke: 2px black;
  color: white; 
  letter-spacing: 2px;
}
.video-item .item {
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 3px 6px 40px rgb(125, 127, 128);
}
.video-item.item img {
  max-width: 200px;
  max-height: 250px ;
  margin: 10px;
}
.youtube-welcome{
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 60px;
}
.API{
  font-size: 27px;
  padding-top: 2px;
  line-height: 40px;
}
.youtube-description{
  padding: 36px;
  margin: 10px 20px 30px 20px;
  border-radius: 20px;
  border: 4px solid white;
  box-shadow: 3px 6px 30px rgb(100, 143, 236);
  background-color: rgb(100, 143, 236);
}
.container{
  height: 100vh;
}
.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 100px 30px 100px;
}
.image{
  margin: 20px auto 2px auto;
  width: 320px;
  box-shadow: 3px 6px 40px rgb(100, 101, 102);
}
.content{
  border-bottom: 4px solid rgb(53, 127, 247);
  border-radius: 4px;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 20px;
  padding: 12px;
  padding-bottom: 20px;
}
.header{
  font-size: 22px;
  margin: 4px auto 50px auto;
  text-transform: capitalize;
  border-bottom: 1px solid rgb(187, 184, 184);
  padding: 8px;
}
.youtube-logo{
  width: 160px;
  height: 60px;
  background-color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  margin: 0;
}
.search-bar{
  padding: 10px;
  background-color: rgb(197, 194, 194);
  border-radius: 25px;
  margin: 0 30px 20px 30px;
  margin-bottom: 20px;
}
.video-search{
  font-size: 20px;
  padding: 12px;
  padding-right: 20px;
}


